body {
    background: url("../images/lowell.jpg") no-repeat;
    background-size: cover;
}

.header {
    text-align: center;
}

.code-block {
    background: lightgray;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 100%;
}

.card {
    margin: auto;
    min-width: 50vw;
    max-width: calc(100vw - 20px);
    width: 600px;
}
